body
{
  background-image: url("https://img.freepik.com/free-photo/neutral-abstract-texture-simple-background_53876-102509.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
